<div class="form-group" {{bind-attr class="form.errors.number.firstObject:has-error"}}>
  <label for="invoice-number" class="col-xs-2 control-label">
    Numer
  </label>
  <div class="col-xs-5">
    {{input valueBinding="form.number" class="form-control" id="invoice-number"}}
  </div>
  <div class="col-xs-5">
    <span class="help-block">{{form.errors.number.firstObject}}</span>
  </div>
</div>
