@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=latin,latin-ext");
@import url("https://fonts.googleapis.com/css?family=Yesteryear");

// Core variables and mixins
@import "/vendor/bootstrap/less/variables.less";

@brand-primary: #032D5A;
@font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-size-base: 12px;
@icon-font-path: "/vendor/bootstrap/fonts/";

@import "/vendor/bootstrap/less/mixins.less";

// Reset
@import "/vendor/bootstrap/less/normalize.less";
@import "/vendor/bootstrap/less/print.less";

// Core CSS
@import "/vendor/bootstrap/less/scaffolding.less";
@import "/vendor/bootstrap/less/type.less";
@import "/vendor/bootstrap/less/code.less";
@import "/vendor/bootstrap/less/grid.less";
@import "/vendor/bootstrap/less/tables.less";
@import "/vendor/bootstrap/less/forms.less";
@import "/vendor/bootstrap/less/buttons.less";

// Components
@import "/vendor/bootstrap/less/component-animations.less";
@import "/vendor/bootstrap/less/glyphicons.less";
@import "/vendor/bootstrap/less/dropdowns.less";
@import "/vendor/bootstrap/less/button-groups.less";
@import "/vendor/bootstrap/less/input-groups.less";
@import "/vendor/bootstrap/less/navs.less";
@import "/vendor/bootstrap/less/navbar.less";
@import "/vendor/bootstrap/less/breadcrumbs.less";
@import "/vendor/bootstrap/less/pagination.less";
@import "/vendor/bootstrap/less/pager.less";
@import "/vendor/bootstrap/less/labels.less";
@import "/vendor/bootstrap/less/badges.less";
@import "/vendor/bootstrap/less/jumbotron.less";
@import "/vendor/bootstrap/less/thumbnails.less";
@import "/vendor/bootstrap/less/alerts.less";
@import "/vendor/bootstrap/less/progress-bars.less";
@import "/vendor/bootstrap/less/media.less";
@import "/vendor/bootstrap/less/list-group.less";
@import "/vendor/bootstrap/less/panels.less";
@import "/vendor/bootstrap/less/wells.less";
@import "/vendor/bootstrap/less/close.less";

// Components w/ JavaScript
@import "/vendor/bootstrap/less/modals.less";
@import "/vendor/bootstrap/less/tooltip.less";
@import "/vendor/bootstrap/less/popovers.less";
@import "/vendor/bootstrap/less/carousel.less";

// Utility classes
@import "/vendor/bootstrap/less/utilities.less";
@import "/vendor/bootstrap/less/responsive-utilities.less";

.btn-add {
    .btn-default();
    border: 1px dashed lightgray;
}

.btn-remove {
    .btn-default();
}

.signature {
    border-bottom: 1px solid #ddd;
}

.gravatar {
    margin: -15px 5px;
}

.subtotal ~ .subtotal th {
    visibility: hidden;
}

html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -30px;
}

.push,
.footer {
    height: 30px;
}

.footer a {
    opacity: 0.5;
    transition: opacity 0.2s linear;
}

.footer a:hover {
    opacity: 0.7;
}

.cowbell-labs img {
    vertical-align: middle;
}

.cowbell-labs span {
    display: none;
}

.features {
    margin: 30px 0;
}

.features img {
    opacity: 0.7;
    transition: opacity 0.2s linear;
}

.features img:hover {
    opacity: 1;
}

.btn-upload {
    position: relative;
    overflow: hidden;
}

.btn-upload input {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    transform: translate(0, 0) scale(4);
    font-size: 60px;
    width: 100%;
    direction: ltr;
    cursor: pointer;
}

// NEW STYLES

.site-header {
    color: white;
    background-image: url("/assets/binders.jpg");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    width: 100%;
}

.site-header strong {
    font-weight: 400;
}

.site-title {
    // font-family: Yesteryear;
    font-size: 2.5em;
    font-weight: 300;
}

.site-header svg path {
    fill: white;
}

.site-header h2 {
    margin: 50px 0;
    font-size: 3em;
    font-weight: 300;
}

.site-header h3 {
    margin: 20px 0;
    font-size: 2em;
    font-weight: 300;
}

.header-title {
    padding: 50px 0;
    background: fade(@brand-primary, 30%);
}

.btn-issue {
    padding: 15px;
    font-size: 1.5em;
    color: @brand-primary;
}

.header-marketing {
    padding: 50px 0;
    background-color: fade(white, 60%);
    color: @brand-primary;
}

.header-marketing p {
    font-weight: 300;
    font-size: 1.25em;
}

.header-marketing svg path {
    fill: @brand-primary;
}

.header-features {
    padding: 50px 0;
    background: @brand-primary;
    font-weight: 300;
    font-size: 1.25em;
}

.header-features li {
    margin: 1em 0;
}

.header-features li:before {
    font-family: "Glyphicons Halflings";
    content: "\e013";
    margin: 0 1em;
}
