<form class="form-horizontal">
  {{partial "invoice_form"}}

  <div class="form-group">
    <div class="col-xs-12 text-right">
      <button type="submit" class="btn btn-primary" {{action "saveRecord"}} {{bind-attr disabled="model.isSaving"}}>Utwórz</button>
      {{link-to "Anuluj" "invoices" class="btn btn-default" activeClass=null}}
    </div>
  </div>
</form>
