<ul>
  {{#each invoice in controller}}
    <li>
      {{#link-to "invoice.show" invoice}}
        {{invoice.number}} z dnia {{invoice.issueDate}} dla {{invoice.buyerFirstLine}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>

{{link-to "Utwórz nową fakturę" "invoices.new" class="btn btn-success" active=null}}
