<ul>
  {{#each account in controller}}
    <li>
      {{link-to account.name "account.edit" account}}
    </li>
  {{/each}}
</ul>

{{link-to "Dodaj nowy rachunek bankowy" "accounts.new" class="btn btn-success" active=null}}
