<form class="form-horizontal">
  {{partial "account_form"}}

  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <button type="submit" class="btn btn-primary" {{action "saveRecord"}} disabled={{model.isSaving}}>Dodaj rachunek bankowy</button>
      {{link-to "Anuluj" "accounts" class="btn btn-default" activeClass=null}}
    </div>
  </div>
</form>
