<ul>
  {{#each client in controller}}
    <li>
      {{link-to client.companyName "client.edit" client}}
    </li>
  {{/each}}
</ul>

{{link-to "Dodaj nowego klienta" "clients.new" class="btn btn-success" active=null}}
