<form class="form-horizontal">
  {{partial "client_form"}}

  <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <button type="submit" class="btn btn-primary" {{action "saveRecord"}} {{bind-attr disabled="model.isSaving"}}>Dodaj klienta</button>
      {{link-to "Anuluj" "clients" class="btn btn-default" activeClass=null}}
    </div>
  </div>
</form>
