<div class="wrap">
  <header class="site-header">
    <div class="header-title">
      <div class="container">
        <h1 class="site-title text-center">
          Faktura<strong>ma</strong>
        </h1>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3 text-center">
            <h2>Wystawiaj faktury <strong>za darmo</strong><br>i&nbsp;<strong>bez ograniczeń</strong></h2>
          </div>
          <div class="col-sm-4 col-sm-offset-4">
            {{#link-to "invoices.new" class="btn btn-default btn-block btn-issue"}}Wystaw fakturę{{/link-to}}
          </div>
        </div>
      </div>
    </div>

    <div class="header-marketing">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 text-center">
            <svg height="100" viewBox="0 0 32 32">
              <path d="M13.070 5.202l-5.796-1.553c-0.533-0.143-1.081 0.174-1.224 0.707l-5.953 22.216c-0.143 0.534 0.174 1.082 0.708 1.226l5.795 1.553c0.533 0.143 1.082-0.174 1.225-0.707l5.953-22.217c0.142-0.533-0.174-1.082-0.708-1.225zM7.78 24.943c-0.429 1.601-2.073 2.55-3.674 2.121s-2.55-2.073-2.121-3.674 2.073-2.551 3.674-2.121c1.601 0.429 2.55 2.074 2.121 3.674zM8.929 20.657l-5.795-1.553 3.105-11.591 5.796 1.554-3.106 11.59zM18.938 23c-0.829 0-1.5 0.672-1.5 1.5s0.671 1.5 1.5 1.5c0.828 0 1.5-0.672 1.5-1.5s-0.672-1.5-1.5-1.5zM10.811 9.773l-3.865-1.035-0.258 0.966 3.864 1.035 0.259-0.966zM10.033 12.671l0.26-0.966-3.864-1.035-0.259 0.966 3.863 1.035zM5.255 22.778c-0.8-0.215-1.623 0.261-1.837 1.061-0.215 0.801 0.26 1.623 1.061 1.837 0.8 0.215 1.623-0.26 1.837-1.061 0.214-0.8-0.261-1.622-1.061-1.837zM29.938 9h-4v1h4v-1zM29.938 13h-4v1h4v-1zM29.938 11h-4v1h4v-1zM27.938 23c-0.829 0-1.5 0.672-1.5 1.5s0.671 1.5 1.5 1.5c0.828 0 1.5-0.672 1.5-1.5s-0.672-1.5-1.5-1.5zM30.938 4h-6c-0.553 0-1 0.447-1 1v23c0 0.552 0.447 1 1 1h6c0.552 0 1-0.448 1-1v-23c0-0.553-0.449-1-1-1zM27.938 27.5c-1.657 0-3-1.344-3-3 0-1.657 1.343-3 3-3 1.656 0 3 1.343 3 3 0 1.656-1.344 3-3 3zM30.938 20h-6v-12h6v12zM20.938 9h-4v1h4v-1zM20.938 13h-4v1h4v-1zM21.938 4h-6c-0.553 0-1 0.447-1 1v23c0 0.552 0.447 1 1 1h6c0.552 0 1-0.448 1-1v-23c0-0.553-0.449-1-1-1zM18.938 27.438c-1.657 0-3-1.344-3-3 0-1.657 1.343-3 3-3 1.656 0 3 1.343 3 3 0 1.656-1.344 3-3 3zM21.938 20h-6v-12h6v12zM20.938 11h-4v1h4v-1zM5.652 13.567l3.863 1.035 0.26-0.966-3.864-1.035-0.259 0.966z" />
            </svg>
            <h3>
              Wystawiaj faktury <strong>za darmo</strong>, <strong>bez&nbsp;ograniczeń</strong>
            </h3>
            <p>
              Korzystając z prostego i przejrzystego interfejsu, możesz
              utworzyć nielimitowaną liczbę faktur, <strong>zupełnie za
                darmo</strong>. Faktury możesz wydrukować bezpośrednio z
              przeglądarki internetowej.
            </p>
          </div>
          <div class="col-sm-4 text-center">
            <svg height="100" viewBox="0 0 50 38">
              <path d="M 0,17.999998 V -8.2313592e-7 H 32 V 17.999998 H 0 z M 2,1.9379992 V 15.999998 H 30 V 1.9379992 H 2 z M 21,8.9999987 C 21,5.6869992 18.762,2.9999992 16,2.9999992 H 29 V 14.999998 H 16 c 2.762,0 5,-2.687 5,-5.9999993 z m 4,1.9999993 c 0.828,0 1.5,-0.896 1.5,-1.9999993 0,-1.1039995 -0.672,-1.9999995 -1.5,-1.9999995 -0.828,0 -1.5,0.896 -1.5,1.9999995 0,1.1039993 0.672,1.9999993 1.5,1.9999993 z M 18.118,6.4779992 c -0.015,0.055 -0.036,0.094 -0.062,0.119 -0.027,0.025 -0.063,0.037 -0.109,0.037 -0.046,0 -0.118,-0.028 -0.219,-0.086 -0.1,-0.059 -0.223,-0.121 -0.368,-0.189 -0.146,-0.068 -0.314,-0.13 -0.506,-0.187 -0.192,-0.056 -0.402,-0.083 -0.631,-0.083 -0.18,0 -0.336,0.021 -0.469,0.065 -0.133,0.043 -0.245,0.104 -0.334,0.18 -0.09,0.077 -0.156,0.17 -0.2,0.277 -0.043,0.107 -0.065,0.222 -0.065,0.342 0,0.18 0.049,0.335 0.147,0.466 0.098,0.131 0.229,0.248 0.394,0.35 0.165,0.103 0.351,0.198 0.56,0.287 0.207,0.09 0.42,0.185 0.637,0.284 0.217,0.101 0.429,0.214 0.637,0.341 0.209,0.1269995 0.395,0.2789995 0.557,0.4559995 0.162,0.177 0.293,0.385 0.394,0.624 0.1,0.2399993 0.149,0.5209993 0.149,0.8469993 0,0.425 -0.078,0.797 -0.236,1.118 -0.159,0.32 -0.373,0.588 -0.645,0.802 -0.271,0.215 -0.587,0.376 -0.949,0.484 -0.046,0.014 -0.096,0.02 -0.143,0.031 v 1.092 h -0.983 v -0.963 c -0.013,0 -0.024,0 -0.036,0 -0.279,0 -0.539,-0.022 -0.778,-0.067 -0.24,-0.046 -0.451,-0.101 -0.634,-0.164 -0.184,-0.064 -0.336,-0.131 -0.459,-0.201 -0.123,-0.07 -0.211,-0.132 -0.265,-0.186 -0.054,-0.054 -0.093,-0.132 -0.116,-0.234 -0.023,-0.103 -0.035,-0.249 -0.035,-0.441 0,-0.129 0.004,-0.237 0.013,-0.325 0.009,-0.088 0.022,-0.158 0.041,-0.213 0.019,-0.055 0.043,-0.093 0.075,-0.116 0.031,-0.022 0.067,-0.034 0.109,-0.034 0.058,0 0.14,0.034 0.247,0.103 0.106,0.069 0.243,0.145 0.409,0.228 0.167,0.084 0.365,0.159 0.597,0.229 0.231,0.068 0.499,0.103 0.803,0.103 0.2,0 0.379,-0.024 0.537,-0.072 0.158,-0.048 0.293,-0.115 0.403,-0.203 0.11,-0.088 0.194,-0.196 0.253,-0.325 0.059,-0.13 0.088,-0.273 0.088,-0.433 0,-0.183 -0.051,-0.34 -0.15,-0.472 -0.1,-0.131 -0.23,-0.247 -0.391,-0.3499993 -0.16,-0.102 -0.342,-0.197 -0.546,-0.287 -0.204,-0.09 -0.414,-0.185 -0.631,-0.284 -0.216,-0.1 -0.427,-0.213 -0.631,-0.341 -0.204,-0.127 -0.386,-0.278 -0.546,-0.4549995 -0.16,-0.177 -0.291,-0.387 -0.39,-0.628 -0.1,-0.241 -0.15,-0.531 -0.15,-0.868 0,-0.388 0.072,-0.728 0.215,-1.021 0.144,-0.293 0.337,-0.537 0.581,-0.73 0.244,-0.193 0.531,-0.338 0.862,-0.434 0.17,-0.05 0.346,-0.085 0.526,-0.109 v -1.034 h 0.983 v 1.034 c 0.039,0 0.078,0 0.117,0.01 0.191,0.029 0.371,0.068 0.537,0.118 0.167,0.049 0.314,0.104 0.444,0.167 0.129,0.062 0.214,0.113 0.256,0.155 0.042,0.041 0.069,0.076 0.085,0.105 0.014,0.029 0.026,0.068 0.037,0.116 0.01,0.048 0.018,0.108 0.021,0.182 0.004,0.072 0.006,0.163 0.006,0.271 0,0.121 -0.003,0.224 -0.009,0.308 -0.009,0.079 -0.019,0.149 -0.034,0.203 z M 11,8.9999987 c 0,3.3129993 2.238,5.9999993 5,5.9999993 H 3 V 2.9999992 h 13 c -2.762,0 -5,2.687 -5,5.9999995 z M 7,6.9999992 c -0.829,0 -1.5,0.896 -1.5,1.9999995 0,1.1039993 0.671,1.9999993 1.5,1.9999993 0.828,0 1.5,-0.896 1.5,-1.9999993 C 8.5,7.8959992 7.828,6.9999992 7,6.9999992 z" />
              <g transform="translate(18,14)">
                <path d="m 13.233145,16.861705 c 0.452896,1.765131 1.811586,2.972856 3.634781,2.972856 0.894179,0 1.672232,-0.267093 2.229642,-0.534185 0,0 0.173987,-0.08366 0.199672,-0.144851 0.156715,-0.373359 -0.01107,-0.887785 -0.404189,-1.047132 -0.074,-0.03 -0.248379,0.05394 -0.248379,0.05394 -0.592248,0.232255 -1.103208,0.325157 -1.567717,0.325157 -1.172883,0 -1.985775,-0.696764 -2.39222,-1.625781 l 2.206417,0 0,-1.207723 -2.485122,0 c 0,-0.05806 -0.01161,-0.12774 -0.01161,-0.185803 0,-0.197416 0.02323,-0.371607 0.04645,-0.557411 l 2.437635,0 0,-1.207723 -2.042802,0 c 0.42967,-0.754825 1.161272,-1.24256 2.067064,-1.24256 0.162577,0 0.708376,0 1.637393,0.359994 0,0 0.155908,0.07417 0.232254,0.04095 0.419493,-0.182525 0.571387,-0.757833 0.378708,-1.151647 -0.02994,-0.0612 -0.169679,-0.120253 -0.169679,-0.120253 -0.522572,-0.232254 -1.230949,-0.452896 -2.055451,-0.452896 -1.707068,0 -3.03092,0.998695 -3.576717,2.56641 l -1.056758,0 0,1.207723 0.801278,0 c -0.01161,0.185804 -0.02323,0.371607 -0.02323,0.557411 l 0,0.185803 -0.796628,0 0,1.207723 0.959206,0 M 0,24.193165 0,6.7740863 l 33.067191,0 0,17.4190787 z m 2.0666994,-15.5436246 0,13.6081716 28.9337916,0 0,-13.6081716 z M 21.700344,15.483626 c 0,-3.206079 -2.312637,-5.8063599 -5.166749,-5.8063599 l 13.433547,0 0,11.6127189 -13.433547,0 c 2.854112,0 5.166749,-2.600281 5.166749,-5.806359 z m 4.133399,1.935453 c 0.855613,0 1.550024,-0.867083 1.550024,-1.935453 0,-1.06837 -0.694411,-1.935453 -1.550024,-1.935453 -0.855614,0 -1.550025,0.867083 -1.550025,1.935453 0,1.06837 0.694411,1.935453 1.550025,1.935453 z M 11.366847,15.483626 c 0,3.206078 2.312636,5.806359 5.166748,5.806359 l -13.4335459,0 0,-11.6127189 13.4335459,0 c -2.854112,0 -5.166748,2.6002809 -5.166748,5.8063599 z M 7.233448,13.548173 c -0.8566469,0 -1.5500246,0.867083 -1.5500246,1.935453 0,1.06837 0.6933777,1.935453 1.5500246,1.935453 0.8556135,0 1.5500245,-0.867083 1.5500245,-1.935453 0,-1.06837 -0.694411,-1.935453 -1.5500245,-1.935453 z" />
              </g>
            </svg>
            <h3>
              Obsługuj klientów <strong>krajowych i&nbsp;zagranicznych</strong>
            </h3>
            <p>
              Wystawiaj faktury w języku <strong>polskim</strong>, lub w
              wersji <strong>polsko-angielskiej</strong> dla klientów z
              zagranicy. Aplikacja automatycznie przewalutuje kwoty w
              <strong>walutach obcych</strong>, korzystając z tabeli
              kursów&nbsp;<abbr title="Narodowy Bank Polski">NBP</abbr>.
            </p>
          </div>
          <div class="col-sm-4 text-center">
            <svg height="100" viewBox="0 0 32 32">
              <path d="M16 6.038v-2.038h4v-2c0-1.105-0.895-2-2-2h-6c-1.105 0-2 0.895-2 2v2h4v2.038c-6.712 0.511-12 6.119-12 12.962 0 7.18 5.82 13 13 13 7.18 0 13-5.82 13-13 0-6.843-5.288-12.451-12-12.962zM22.071 26.071c-1.889 1.889-4.4 2.929-7.071 2.929s-5.182-1.040-7.071-2.929c-1.889-1.889-2.929-4.4-2.929-7.071s1.040-5.182 2.929-7.071c1.814-1.814 4.201-2.844 6.754-2.923l-0.677 9.813c-0.058 0.822 0.389 1.181 0.995 1.181s1.053-0.36 0.995-1.181l-0.677-9.813c2.552 0.079 4.94 1.11 6.754 2.923 1.889 1.889 2.929 4.4 2.929 7.071s-1.040 5.182-2.929 7.071z" />
            </svg>
            <h3><strong>Błyskawicznie</strong> twórz faktury dla stałych odbiorców</h3>
            <p>
              Przyspiesz wystawianie faktur dla stałych odbiorców
              dodając ich do bazy danych. Możesz także zdefiniować
              <strong>dowolną liczbę rachunków bankowych</strong>,
              rozliczanych w złotówkach lub innych walutach.
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="header-features">
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <ul class="list-unstyled">
              <li>brak limitów na liczbę faktur</li>
              <li>obsługa walut obcych</li>
              <li>możliwość zdefiniowania dowolnej liczby klientów</li>
              <li>automatyczne numerowanie faktur (miesięczne lub roczne)</li>
              <li>importowanie i eksportowanie bazy danych</li>
            </ul>
          </div>
          <div class="col-sm-6">
            <ul class="list-unstyled">
              <li>darmowa rejestracja, brak opłat za korzystanie z aplikacji</li>
              <li>możliwość wystawienia faktury w wersji polskiej, lub polsko-angielskiej</li>
              <li>przewalutowanie kwot w walutach obcych, według kursów NBP</li>
              <li>możliwość zdefiniowania dowolnej liczby rachunków bankowych</li>
              <li>śledzenie przeterminowanych i nieopłaconych faktur</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="push"></div>
</div>

<footer class="site-footer">
  <div class="container">
    <a href="https://github.com/qoobaa/fakturama" target="_blank">
      <svg width="28" height="50" viewBox="0 0 32 32" class="pull-right">
        <path d="M27.429 16q0 4.482-2.616 8.063t-6.759 4.955q-0.482 0.089-0.705-0.125t-0.223-0.536v-3.768q0-1.732-0.929-2.536 1.018-0.107 1.83-0.321t1.679-0.696 1.446-1.188 0.946-1.875 0.366-2.688q0-2.161-1.411-3.679 0.661-1.625-0.143-3.643-0.5-0.161-1.446 0.196t-1.643 0.786l-0.679 0.429q-1.661-0.464-3.429-0.464t-3.429 0.464q-0.286-0.196-0.759-0.482t-1.491-0.688-1.536-0.241q-0.786 2.018-0.125 3.643-1.411 1.518-1.411 3.679 0 1.518 0.366 2.679t0.938 1.875 1.438 1.196 1.679 0.696 1.83 0.321q-0.714 0.643-0.875 1.839-0.375 0.179-0.804 0.268t-1.018 0.089-1.17-0.384-0.991-1.116q-0.339-0.571-0.866-0.929t-0.884-0.429l-0.357-0.054q-0.375 0-0.518 0.080t-0.089 0.205 0.161 0.25 0.232 0.214l0.125 0.089q0.393 0.179 0.777 0.679t0.563 0.911l0.179 0.411q0.232 0.679 0.786 1.098t1.196 0.536 1.241 0.125 0.991-0.063l0.411-0.071q0 0.679 0.009 1.589t0.009 0.964q0 0.321-0.232 0.536t-0.714 0.125q-4.143-1.375-6.759-4.955t-2.616-8.063q0-3.732 1.839-6.884t4.991-4.991 6.884-1.839 6.884 1.839 4.991 4.991 1.839 6.884z" />
      </svg>
    </a>

    <div class="popover left pull-right popover-source">
      <div class="arrow"></div>
      <div class="popover-content"><a href="https://github.com/qoobaa/fakturama" target="_blank">Zobacz kod źródłowy</a></div>
    </div>
  </div>
</footer>
