<div class="row features">
  <div class="col-sm-4 text-center">
    <img src="/assets/documents.svg" alt="Documents" height="100">
    <h3>
      Wystawiaj faktury <strong>za darmo</strong>, <strong>bez&nbsp;ograniczeń</strong>
    </h3>
    <p>
      Korzystając z prostego i przejrzystego interfejsu, możesz
      utworzyć nielimitowaną liczbę faktur, <strong>zupełnie za
      darmo</strong>. Faktury możesz wydrukować bezpośrednio z
      przeglądarki internetowej.
    </p>
  </div>
  <div class="col-sm-4 text-center">
    <img src="/assets/currencies.svg" alt="Currencies" height="100">
    <h3>
      Obsługuj klientów <strong>krajowych i&nbsp;zagranicznych</strong>
    </h3>
    <p>
      Wystawiaj faktury w języku <strong>polskim</strong>, lub w
      wersji <strong>polsko-angielskiej</strong> dla klientów z
      zagranicy. Aplikacja automatycznie przewalutuje kwoty w
      <strong>walutach obcych</strong>, korzystając z tabeli
      kursów&nbsp;NBP.
    </p>
  </div>
  <div class="col-sm-4 text-center">
    <img src="/assets/rocket.svg" alt="Rocket" height="100">
    <h3><strong>Błyskawicznie</strong> twórz faktury dla stałych odbiorców</h3>
    <p>
      Możesz przyspieszyć wystawianie faktur dla stałych odbiorców,
      dodając ich do bazy danych. Możesz także zdefiniować
      <strong>dowolną liczbę rachunków bankowych</strong>,
      rozliczanych w złotówkach, lub innych walutach.
    </p>
  </div>
</div>

<h4>Cechy aplikacji</h4>

<ul>
  <li>brak limitów na liczbę faktur</li>
  <li>darmowa rejestracja, brak opłat za korzystanie z aplikacji</li>
  <li>możliwość wystawienia faktury w wersji polskiej, lub polsko-angielskiej</li>
  <li>obsługa walut obcych</li>
  <li>automatyczne przewalutowanie kwot w walutach obcych, według kursów Narodowego Banku Polskiego</li>
  <li>możliwość zdefiniowania dowolnej liczby klientów</li>
  <li>możliwość zdefiniowania dowolnej liczby rachunków bankowych</li>
  <li>automatyczne numerowanie faktur (miesięczne lub roczne)</li>
  <li>śledzenie przeterminowanych i nieopłaconych faktur</li>
  <li>importowanie i eksportowanie bazy danych</li>
  <li class="text-muted">autouzupełnianie informacji o usługach i towarach</li>
  <li class="text-muted">wygodne udostępnianie faktur</li>
</ul>

<h4>Dla programistów</h4>

<ul>
  <li>kod źródłowy dostępny na wolnej licencji</li>
  <li>możliwość hostowania na własnym serwerze i zapisu do własnej bazy danych (Firebase)</li>
</ul>

<br>
