<div class="row">
  <div class="col-sm-4 text-center">
    <h3>
      Wystawiaj faktury <strong>za darmo</strong>, <strong>bez ograniczeń</strong>
    </h3>
  </div>
  <div class="col-sm-4 text-center">
    <h3>
      Obsługuj klientów krajowych i&nbsp;zagranicznych
    </h3>
  </div>
  <div class="col-sm-4 text-center">
    <h3>Zarządzaj bazą klientów i&nbsp;rachunków bankowych</h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 text-center">
    <p>
      Korzystając z prostego i przejrzystego interfejsu, możesz
      utworzyć nielimitowaną liczbę faktur, <strong>zupełnie za
      darmo</strong>. Wystawione faktury możesz wydrukować
      bezpośrednio z przeglądarki internetowej.
    </p>
  </div>
  <div class="col-sm-4 text-center">
    <p>
      Wystawiaj faktury w języku <strong>polskim</strong>, lub w
      wersji <strong>polsko-angielskiej</strong> dla klientów z
      zagranicy. Aplikacja automatycznie przewalutuje kwoty w
      <strong>walutach obcych</strong>, korzystając z tabeli
      kursów&nbsp;NBP.
    </p>
  </div>
  <div class="col-sm-4 text-center">
    <p>
      Możesz przyspieszyć wystawianie faktur dla stałych odbiorców,
      dodając ich do bazy danych. Możesz także zdefiniować
      <strong>dowolną liczbę rachunków bankowych</strong>,
      rozliczanych w złotówkach, lub innych walutach.
    </p>
  </div>
</div>

<div class="row">

</div>
