<ul>
  {{#each invoice in model}}
    <li>
      {{link-to invoice.number "invoice.show" invoice}} {{link-to "Edytuj" "invoice.edit" invoice}}
    </li>
  {{/each}}
</ul>

{{link-to "Utwórz nową fakturę" "invoice.new"}}
